.tb-customer{
    margin-top: 55px;

    .head-row{
        p{
            margin: 0;
            text-align: center;
        }
    }
}

.item-tb{
    margin-top: 15px;
    a{
        text-decoration: none;
        color: white;
        background: #621814;
        max-width: fit-content;
        padding: 5px 20px;

        p{
            margin: 0 auto;
        }
    }
    a:hover{
        background-color: #FEFAE7;
        color: #621814;
        border: 1px solid #621814;
    }
    hr{
        margin: 10px 0 0 0;
    }
}

.no-item{
    color: #621814;
}