.welcome-head-cus-dash{
    h1{
        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 80px;
    }

    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        max-width: 533px;
    }
}