.header-dash{
    height: 110px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle; 
    background: #FEFAE7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



