table {
  width: 100%;
  text-align: center;
}
tr {
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
}
td {
    text-align: center;
}
.pet-name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0;
}
.owner {
  font-weight: 400;
  margin-top: 0;
}
.pickup-date {
    font-weight: 600;
    color: #C3C3C3;
}
.status {
    font-weight: 600;
}
.owner, .pickup-date, .status {
    margin-bottom: 5px;
}
.detail-button {
    color: white;
    font-weight: 600;
    padding: 3px 12px;
    background: #007D7D;
    border-radius: 15px;
    border: 2px solid #007D7D;
}
.detail-button:hover {
    color: black;
    font-weight: 600;
    padding: 3px 12px;
    background: white;
    border-radius: 15px;
    border: 2px solid #007D7D;
}
