.title-admin {
    color: #007D7D;
}

.btn {
    border: 2px solid #007D7D;
    border-radius: 20px;
    margin-right: 10px;
    padding: 2px 18px;
    font-weight: 600;
}
.btn.active {
    color: white;
    border-color: none;
    background: #007D7D;
    border: 2px solid #007D7D;
}
.table-penitipan {
    margin-top: 2%;
}